/* mobile */
@media only screen and (max-width: 768px) {
  .mg-container {
    font-family: "Poppins", sans-serif;
  }

  .muscle-image {
    width: 90vw;
    border-radius: 1em;
  }

  .muscle-exercises {
    display: flex;
    flex-direction: column;
    max-width: 90vw;
    margin: 0.5em 0 0 0;
  }

  .muscle-name {
    margin: 0.5em;
    font-weight: 700;
    font-size: 2.5em;
    width: 90vw;
  }

  .muscle-description-text {
    margin: 1em 0 1em 0;
    font-size: 1.5em;
  }

  .muscle-ce {
    margin: 0.5em 0 0.5em 0;
    font-size: 1.5em;
    width: 90vw;
  }

  .muscle-d-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90vw;
  }

  .muscle-description {
    width: 90vw;
  }

  .mg-blocks-container {
    display: flex;
    flex-direction: column;
    width: 90vw;
  }

  .muscle-name-image {
    margin-right: 2em;
    width: 90vw;
  }

  .muscle-video-d {
    background-color: rgba(128, 128, 128, 0.198);
    border-radius: 1em;
    padding: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column-reverse;
    width: 90vw;
  }

  .muscle-ce-container {
    margin-top: 1em;
  }

  .video {
    max-width: 90vw;
  }
}

/* web */
@media only screen and (min-width: 769px) {
  .mg-container {
    font-family: "Poppins", sans-serif;
  }

  .muscle-image {
    width: 30em;
    border-radius: 1em;
  }

  .muscle-exercises {
    display: flex;
    flex-direction: column;
    max-width: 27vw;
    margin: 0.5em 0 0 0;
  }

  .muscle-name {
    margin: 0.5em;
    font-weight: 700;
    font-size: 2.5em;
  }

  .muscle-description-text {
    margin: 1em 0 1em 0;
    font-size: 1.5em;
  }

  .muscle-ce {
    margin: 1em 0 1em 0;
    font-size: 1.5em;
  }

  .muscle-d-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .muscle-description {
    width: 30em;
  }

  .mg-blocks-container {
    display: flex;
    flex-direction: row;
  }

  .muscle-name-image {
    margin-right: 2em;
  }

  .muscle-video-d {
    background-color: rgba(128, 128, 128, 0.198);
    border-radius: 1em;
    padding: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column-reverse;
  }

  .muscle-ce-container {
    margin-top: 4em;
  }

  .video {
    max-width: 27vw;
  }
}
