/* mobile */
@media only screen and (max-width: 768px) {
  .home-container {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @keyframes floating {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  .home-image {
    width: 7em;
    position: relative;
    animation: floating 3s ease-in-out infinite;
  }

  .home-title {
    font-family: "Alegreya Sans SC", sans-serif;
    color: #32b0e7;
    position: relative;
    animation: floating 3s ease-in-out infinite;
    font-size: 2.5em;
  }

  .home-slogan {
    color: rgb(61, 61, 61);
  }
}

/* web */
@media only screen and (min-width: 769px) {
  .home-container {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .home-image {
    width: 9em;
    position: relative;
    animation: floating 3s ease-in-out infinite;
  }
  @keyframes floating {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .home-title {
    font-family: "Alegreya Sans SC", sans-serif;
    color: #32b0e7;
    font-size: 5em;
    position: relative;
    animation: floating 3s ease-in-out infinite;
  }

  .home-slogan {
    color: rgb(61, 61, 61);
    font-size: 1em;
  }
}
