@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap");

.App {
  text-align: center;
  background-color: #eeeeee;
  min-height: 100vh;
  padding: 0 5vw 0 5vw;
}

.app-container {
  background-color: #eeeeee;
}
